<h1>Doctor</h1>
<table class="table">
  <tr>
    <td>
      Firstname
    </td>
    <td>
    <%= @doctor.first_name %>
    </td>
  </tr>
  <tr>
    <td>
      Lastname
    </td>
    <td>
    <%= @doctor.last_name %>
    </td>
  </tr>
  <tr>
    <td>
      Address
    </td>
    <td>
    <%= @doctor.address %>
    </td>
  </tr>
  <tr>
    <td>
      Gender
    </td>
    <td>
    <%= @doctor.gender %>
    </td>
  </tr>
